body
{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(183, 183, 189);
  height: auto;
}
.container
{
  height: auto;
  margin: 0 430px;
  background-color: black;
  padding:3px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px rgb(0, 0, 0,.7);
  border-radius: 5px;
}
button
{
  width: 60px;
  height: 60px;
  border-radius: 35px;
  border: none;
  background-color: rgb(50, 50, 50);
  color: white;
  margin-right: 5px;
  font-size: 26px;
}
.clear-button
{
  font-size: 17px;
}
.operator-button
{
  background-color: orange;
}
.screen
{
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 45px;
  background-color: rgb(14, 14, 14);
  height: 80px;
  width: 265px;
}



@media(max-width:1224px)
{
  .container
{
  height: auto;
  margin: 0 200px;
}
button
{
  width: 62px;
  height: 62px;
  border-radius:50%;
  font-size:25px;
}
  
}


@media(max-width:1229px)
{
  .container
  {
    margin: 0 420px;
  }
}

@media(max-width:1218px)
{
  .container
  {
    margin: 0 400px;
  }
}

@media(max-width:1178px)
{
  .container
  {
    margin: 0 390px;
  }
}

@media(max-width:1158px)
{
  .container
  {
    margin: 0 380px;
  }
}


@media(max-width:1137px)
{
  .container
  {
    margin: 0 360px;
  }
}

@media(max-width:1097px)
{
  .container
  {
    margin: 0 320px;
  }
}

@media(max-width:1017px)
{
  .container
  {
    margin: 0 300px;
  }
}

@media(max-width:978px)
{
  .container
  {
    margin: 0 270px;
  }
}


@media(max-width:918px)
{
  .container
  {
    margin: 0 240px;
  }
}

@media(max-width:858px)
{
  .container
  {
    margin: 0 200px;
  }
}

@media(max-width:777px)
{
  .container
  {
    margin: 0 180px;
  }
}

@media(max-width:768px)
{
  .container
  {
    margin:0 150px;
  }
  button
{
  width: 62px;
  height: 62px;
  border-radius:50%;
  font-size:25px;
}
.clear-button
{
  font-size: 15px;
}
.screen
{
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 45px;
  background-color: rgb(14, 14, 14);
  height: 80px;
  width: 300px;
}
}

@media(max-width:678px)
{
  .container
  {
    margin: 0 110px;
  }
}

@media (max-width:610px)
{
  .container
  {
    margin:0 50px;
  }
  button
{
  width: 70px;
  height: 70px;
  border-radius:50%;
  font-size:30px;
}
.clear-button
{
  font-size: 20px;
}

}

@media(max-width:510px)
{
  .container
  {
    margin: 0 10px;
  }
}

@media (max-width:429px)
{
  .container
  {
    margin:0;
  }
}
@media (max-width:409px)
{
  .container
  {
    margin:0;
  }

  button
{
  width: 50px;
  height:50px;
  font-size:20px;
}
.clear-button
{
  font-size: 15px;
}


}

@media (max-width:376px)
{
  .container p
  {
    margin-bottom: 0;
  }
  button
{
  width: 55px;
  height:55px;
  border-radius:50%;
  font-size:25px;
}
.clear-button
{
  font-size: 15px;
}

}


@media (max-width:349px)
{
  button
{
  width: 45px;
  height:45px;
  border-radius:50%;
  font-size:20px;
}
.screen
{
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 40px;
  background-color: rgb(14, 14, 14);
  height: 80px;
  width: 250px;
}
}


@media (max-width:310px)
{
  button
{
  width: 40px;
  height:40px;
  font-size:15px;
}
.clear-button
{
  font-size: 10px;
}
}

@media (max-width:289px)
{
button
{
  width: 35px;
  height:35px;
  font-size:12px;
}
.clear-button
{
  font-size: 10px;
}
.screen
{
  width: 200px;
}
}

@media (max-width:269px)
{
body 
{
  margin: 0;
}
}

@media (max-width:253px)
{
  button
  {
    width: 30px;
    height:30px;
    font-size:10px;
  }
  .clear-button
{
  font-size: 8px;
}
}

@media (max-width:233px)
{
  button
  {
    width: 26px;
    height:26px;
  }
  .clear-button
{
  font-size: 5px;
}
}

@media (max-width:217px)
{
  button
  {
    width: 20px;
    height:20px;
  }
  .clear-button
{
  font-size: 4px;
}
}
